---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Collections
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../../../scripts/utils";

// Functions
export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  const uniqueTags = [
    ...new Set(recipes.map((recipe) => recipe.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = recipes.filter((recipe) =>
      recipe.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { recipes: filteredPosts },
    };
  });
}

// Variables
const { tag } = Astro.params;
const { recipes } = Astro.props;
const title = `#${tag}`;

// Calls
sortCollectionByDate(recipes);
---

<BaseLayout title={title}>
  <header id="page-header">
  <h1>{title}</h1>
</header>
  <ul>
    {
      recipes.map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.slug}/`}>{recipe.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>