---
import Base from "@/layouts/Base.astro";

import Header from "@/components/recipes/Header.astro";

import { render } from "astro:content";
import { getCollection } from "astro:content";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  return recipes.map((recipe) => ({
    params: { id: recipe.id },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
const { Content } = await render(recipe);
---

<Base title={recipe.data.title}>
  <Header title={recipe.data.title} tags={recipe.data.tags} />
  <div class="recipe-content">
    <Content />
  </div>
</Base>

<style is:global lang="scss">
  h2 {
    margin-top: 2em;

    font-weight: 400;
    font-size: 1.25em;

    text-align: center;
  }

  // Only add space between items, excl first
  .recipe-content {
    li + li {
      margin-top: 1em;
    }
  }

  strong {
    font-weight: 600;
  }

  .footnotes {
    margin-top: 4rem;
    border-top: 1px dashed currentColor;

    font-size: 0.8em;

    h2 {
      visibility: hidden;
      position: absolute;
    }

    ol {
      list-style-type: lower-roman;

      p {
        margin: 0;
      }
    }
  }

  sup {
    a {
      font-size: 0.65em;
      font-weight: 400;
      padding: 0.2em;
    }
  }

  // Desktop styles
  @media (min-width: 768px) {
    ol {
      columns: 2;
      column-gap: 4rem;
    }
  }
</style>

<script>
  let wakeLock = null;

  async function requestWakeLock() {
    try {
      wakeLock = await navigator.wakeLock.request("screen");
    } catch (err) {
      console.error(`${err.name}, ${err.message}`);
    }
  }

  requestWakeLock();
</script>
