---
import Base from "@/layouts/Base.astro";

import Header from "@/components/recipes/Header.astro";

import { components } from "@/components/global";
import { render } from "astro:content";
import { getCollection } from "astro:content";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  return recipes.map((recipe) => ({
    params: { id: recipe.id },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
const { Content } = await render(recipe);
---

<Base title={recipe.data.title}>
  <Header title={recipe.data.title} tags={recipe.data.tags} />
  <div class="recipe">
    <Content components={components} />
  </div>
</Base>

<style is:global lang="scss">
  h2 {
    margin-top: 4em;
  }

  strong {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
  }

  li {
    margin-bottom: 0.5em;
  }

  .footnotes {
    margin-top: 4rem;
    border-top: 1px dashed currentColor;

    font-size: 0.8em;

    h2 {
      visibility: hidden;
      position: absolute;
    }

    ol {
      p {
        margin: 0;
      }
    }
  }

  sup {
    a {
      font-size: 0.65em;
      font-weight: 400;
      padding: 0.2em;
    }
  }

  // Desktop styles
  @media screen and (min-width: 768px) {
    div.recipe {
      ol:not(.footnotes ol) {
        column-count: 2;
        gap: 4em;

        li {
          // Prevent list items from wrapping into next column
          break-inside: avoid;
        }
      }
    }
  }
</style>

<script>
  let wakeLock = null;

  async function requestWakeLock() {
    try {
      wakeLock = await navigator.wakeLock.request("screen");
    } catch (err) {
      console.error(`${err.name}, ${err.message}`);
    }
  }

  requestWakeLock();
</script>
