---
import Head from "../components/Head.astro";
import { site } from "../../config.mjs";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
const recent = recipes.slice(0, 3);
const tags = [...new Set(recipes.map((recipe) => recipe.data.tags).flat())];
tags.sort();
---

<Head title="Home" description={site.description} />

<html lang="en">
  <body>
    <main>
      <div class="pages">
        <div class="cover page">
          <h1>Family<br />Cookbook</h1>
        </div>
        <div class="new page">
          <h2>New Recipes</h2>
          <ul>
            {
              recent.map((recipe) => (
                <li>
                  <a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="categories page">
          <h2>Categories</h2>
          <ul class="tags">
            {
              tags.map((tag) => (
                <li>
                  <a class="tag" href={`/recipes/tags/${tag}`}>
                    {tag}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </main>
  </body>

  <style>
    main {
      max-width: 60rem;
      margin: 0 auto;
    }

    h1 {
      font-family: "Beachman Script";
      font-weight: 100;
      font-size: calc(2rem + 10vw);
    }

    h2 {
      font-family: Academy Engraved Let;
      font-weight: 100;
    }

    .pages {
      display: grid;
      padding: 1rem;
      filter: drop-shadow(0px 4px 4px #666);
      background-color: #f5f5f5;
    }

    .tag {
      text-transform: capitalize;
    }
  </style>
</html>
