---
import Base from "./Base.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
      <Tags tags={frontmatter.tags} path="recipes" />
      {
        frontmatter.source && (
          <a href={frontmatter.source}>{frontmatter.source}</a>
        )
      }
    </header>
    <slot />
  </article>
</Base>

<style is:global>
  article section {
    align-items: unset;
  }
</style>
