---
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";

const { title, pubDate, tags, ingredients, directions, source } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={title} />
  <body>
    <Skiplink />
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/search/">Search</a>
      </nav>
    </header>
    <main id="main-content">
      <h1>{title}</h1>
      <p>Published on: {pubDate}</p>
      <ul>
        {tags.map((tag) => <li key={tag}>{tag}</li>)}
      </ul>

      <h2>Ingredients</h2>
      <ul>
        {
          ingredients.map((ingredient) => (
            <li key={ingredient}>{ingredient}</li>
          ))
        }
      </ul>

      <h2>Directions</h2>
      <ol>
        {directions.map((direction) => <li key={direction}>{direction}</li>)}
      </ol>

      <p>Source: <a href={source.url}>{source.name}</a></p>
      <slot />
    </main>
  </body>
</html>
